@import "../../../styles//custom-mixins.scss";

.CTAButtonContainer {
    width: 100vw; /* Full viewport width */
    display: flex;
    justify-content: center; /* Optional for alignment */
    padding: 0 1.5rem;
    bottom: 1rem;
}

.CTAButton {
    display: flex; /* Flexbox for text + icon layout */
    align-items: center; /* Vertically align text and icon */
    justify-content: center; /* Center both horizontally */
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    width: 100%; /* Stretch to full width */
    padding: 1rem;
    background-color: $tourway-teal;
    color: white;
    gap: 1rem;
    font-weight: 600;
}

.CTAButtonLink {
    text-decoration: none;
    display: block;
    width: 100%; 
}

.CTAButton p {
    text-align: center;
    color: white;
}

  .icon {
    font-size: 1.5rem; /* Ensure the icon has a visible size */
  }

  