$tourway-teal: #0BA3A8;
$tourway-text: #034648;

.navbar {
    background-color: $tourway-teal;
    position: fixed; 
    z-index: 6;
    bottom: 1rem;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: calc(100% - 2rem);
    margin: 0 auto; 
    padding: 12px 40px 6px 40px;
    border-radius: 40px;

    &.extraPadding {
        padding-bottom: 8px; // Add extra padding when not on home, notes, or profile
      }
}

.navbar img {
    width: auto;
    height: 24px;
}

.navItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 80%;
}

span {
    color: white;
    font-size: 0.8rem;
    line-height: 1rem;
}

.active {
    border-bottom: 2px solid white; 
    color: white; 
    padding-bottom: 0;
}