// Typography
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Colors
$dark: #333333;
$medium: #5a5a5a;
$light: #757575;
$extraLight: #c5c5c5;
$cloud: #f4f4f4;

$mediumBlue: #006298;
$lightBlue: #d0e4f6;
$orange: #ff8f1d;
$red: #971b2f;
$green: #b8bf11;

// Tourway Colors
$tourway-teal: #0BA3A8;
$tourway-text: #034648;
$tourway-teal-dark: #0B7073;
$tourway-teal-light: #DFF3F4;

$medium-text: #5A5A5A;

// Drexel Colors
$drexelBlue: #07294d;
$drexelYellow: #ffc600;

// @mixin shadow {
//     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
// }

// @mixin bottom-shadow {
//     box-shadow: 0 4px rgba(0, 0, 0, 0.06);
// }

// @mixin blue-focus-shadow {
//     box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px $suitable-focus-blue;
// }

// @mixin sb {
//     font-family: sharpsans-semibold;
// }

// @mixin sb24 {
//     font-family: sharpsans-semibold;
//     font-size: 24px;
// }

// @mixin sb32 {
//     font-family: sharpsans-semibold;
//     font-size: 32px;
// }

// @mixin sb21 {
//     font-family: sharpsans-semibold;
//     font-size: 21px;
// }

// @mixin sb20 {
//     font-family: sharpsans-semibold;
//     font-size: 20px;
// }

// @mixin sb18 {
//     font-family: sharpsans-semibold;
//     font-size: 18px;
// }

// @mixin sb16 {
//     font-family: sharpsans-semibold;
//     font-size: 16px;
// }

// @mixin sb14 {
//     font-family: sharpsans-semibold;
//     font-size: 14px;
// }

// @mixin sb12 {
//     font-family: sharpsans-semibold;
//     font-size: 12px;
// }

// @mixin sb-squish-responsive {
//     font-family: sharpsans-semibold;
//     font-size: 12px;

//     @include desktop-squished {
//         font-size: 11px;
//     }
// }

// @mixin bk {
//     font-family: sharpsans-book;
// }

// @mixin bk10 {
//     font-family: sharpsans-book;
//     font-size: 10px;
// }

// @mixin bk12 {
//     font-family: sharpsans-book;
//     font-size: 12px;
// }

// @mixin bk14 {
//     font-family: sharpsans-book;
//     font-size: 14px;
// }

// @mixin bk16 {
//     font-family: sharpsans-book;
//     font-size: 16px;
// }

// @mixin bk18 {
//     font-family: sharpsans-book;
//     font-size: 18px;
// }

// @mixin bk20 {
//     font-family: sharpsans-book;
//     font-size: 20px;
// }

// @mixin bk24 {
//     font-family: sharpsans-book;
//     font-size: 24px;
// }

// @mixin bk38 {
//     font-family: sharpsans-book;
//     font-size: 38px;
// }

// @mixin bki14 {
//     font-family: sharpsans-book-italic;
//     font-size: 14px;
// }

// @mixin bki12 {
//     font-family: sharpsans-book-italic;
//     font-size: 12px;
// }

// @mixin md {
//     font-family: sharpsans-medium;
// }

// @mixin md18 {
//     font-family: sharpsans-medium;
//     font-size: 18px;
// }

// @mixin md20 {
//     font-family: sharpsans-medium;
//     font-size: 20px;
// }

// @mixin md13 {
//     font-family: sharpsans-medium;
//     font-size: 13px;
// }

// @mixin md16 {
//     font-family: sharpsans-medium;
//     font-size: 16px;
// }

// @mixin md14 {
//     font-family: sharpsans-medium;
//     font-size: 14px;
// }

// @mixin md12 {
//     font-family: sharpsans-medium;
//     font-size: 12px;
// }

// @mixin md32 {
//     font-family: sharpsans-medium;
//     font-size: 32px;
// }

// @mixin bd {
//     font-family: sharpsans-bold;
// }

// @mixin bd12 {
//     font-family: sharpsans-bold;
//     font-size: 12px;
// }

// @mixin bd14 {
//     font-family: sharpsans-bold;
//     font-size: 14px;
// }

// @mixin bd16 {
//     font-family: sharpsans-bold;
//     font-size: 16px;
// }

// @mixin bd18 {
//     font-family: sharpsans-bold;
//     font-size: 18px;
// }

// @mixin bd20 {
//     font-family: sharpsans-bold;
//     font-size: 20px;
// }

// @mixin bd22 {
//     font-family: sharpsans-bold;
//     font-size: 22px;
// }

// @mixin bd24 {
//     font-family: sharpsans-bold;
//     font-size: 24px;
// }

// @mixin bd32 {
//     font-family: sharpsans-bold;
//     font-size: 32px;
// }

// @mixin bd36 {
//     font-family: sharpsans-bold;
//     font-size: 36px;
// }

// @mixin bd38 {
//     font-family: sharpsans-bold;
//     font-size: 38px;
// }

// @mixin mobile {
//     @media (max-width: #{$screen-sm - 1px}) {
//         @content;
//     }
// }

// @mixin tablet {
//     @media (min-width: #{$screen-sm}) and (max-width: #{$screen-lg - 1px}) {
//         @content;
//     }
// }

// @mixin mobileAndTablet {
//     @media (max-width: #{$screen-lg - 1px}) {
//         @content;
//     }
// }

// @mixin desktop {
//     @media (min-width: #{$screen-lg}) {
//         @content;
//     }
// }

// @mixin desktopXL {
//     @media (min-width: #{$screen-xl}) {
//         @content;
//     }
// }

// USAGE

// .headerContainer {
//         display: flex;
//         flex-direction: row;
//         @include mobile {
//             flex-direction: column;
//         }
//         .mainColumn {
//             flex: 1;
//             display: flex;
//             flex-direction: column;
//             padding-top: 0;
//             .activityInfoContainer {
//                 .title {
//                     padding: 15px 0;
//                     @include bd32;
//                     margin: 0;
//                 }
//                 .sectionTitle {
//                     padding-top: 15px;
//                     @include sb18;
//                 }
//                 .competencies {
//                     display: flex;
//                     flex-wrap: wrap;
//                     .competency {
//                         padding: 4px;
//                         padding-right: 8px;
//                         padding-left: 0;
//                     }
//                 }
