// Colors
$dark: #333333;
$medium: #5a5a5a;
$light: #757575;
$extraLight: #c5c5c5;
$cloud: #f4f4f4;

$mediumBlue: #006298;
$lightBlue: #d0e4f6;
$orange: #ff8f1d;
$red: #971b2f;
$green: #b8bf11;

// Drexel Colors
$drexelBlue: #07294d;
$drexelYellow: #ffc600;
