@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import "../styles/custom-mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $tourway-teal;
    font-family: 'Hind', Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', Verdana, sans-serif;
}

.mainContent {
    background-color: white;
    padding-top: 12px;
    border-radius: 0 40px 0 0;
    z-index: 1;
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom: 5rem;

    // filter: drop-shadow(0px -4px 4px rgba(3, 70, 72, 0.15));
}

.mainContentLogin {
    top: 230px;
}

.headerGraphic {
    z-index: 4;
    position: absolute;
    top: 100px;
    right: 32px;
}

.headerGraphic img {
    width: 160px;
}

.headerGraphicNotes {
    right: 44px;
    top: 92px;
}

.headerGraphicNotes img {
    width: 140px;
}

.tourwayPath {
    position: absolute;
    top: 5px;
    max-height: 48px;
    background-size: cover;
    z-index: -1;
    width: 100%;
}

.tourwayPath img {
    width:100%;
    height: 100%;
    background-size: cover;

}

.altLoginMethods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.altLoginMethods p {
    font-size: 1.25rem;
    color: $medium-text;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.socialMediaButton {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $tourway-teal-light;
    color: white;
  }
  
  .socialMediaLink {
    text-decoration: none;
    display: inline-block;
    padding: 0;
    line-height: 0;
  }

  .loginActions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .rememberMe {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .rememberMe label {
    color: $medium-text
  }

  .Profile h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .tourwayPathSmall {
    position: absolute;
    z-index: -1;
    right: -24px;
  }

  .universityBioContent {
    color: $dark;
    padding: 1rem;
  }

  .universityBioContent h4 {
    font-size: 1.5rem;
  }

  .backButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }

  .favButton {
    position: absolute;
    top: 8rem;
    right: 1rem;
    z-index: 10;
  }

  .overviewIMGs {
    margin: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  .universityBioContent li {
    margin: 1rem;
  }


  .CTA {
    position: fixed;
    bottom: 6rem;
    z-index: 10;
    width: 100%;
  }
  
