@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import "../styles/custom-mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $tourway-teal;
  font-family: "Hind", Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", Verdana, sans-serif;
}

.mainContent {
  background-color: white;
  padding-top: 12px;
  border-radius: 0 40px 0 0;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 5rem;
  overflow: unset;

  // filter: drop-shadow(0px -4px 4px rgba(3, 70, 72, 0.15));
}

.mainContent:has(.CTAdouble span img ) {
  padding-bottom: 9rem;
}

.mainContent > p,
.mainContent > h1,
.mainContent > h3 {
  width: calc(100% - 2rem);
  margin: auto;
}

.mainContentLogin,
.mainContentSignUp {
  top: 230px;
}

.mainContentChooseTour {
  top: 90px;
}

.mainContentChooseTour > h1,
.mainContentChooseTour > p {
  color: $dark;
}

.headerGraphic {
  z-index: 4;
  position: absolute;
  top: 100px;
  right: 32px;
}

.headerGraphic img {
  width: 160px;
}

.headerGraphicNotes {
  right: 44px;
  top: 92px;
}

.headerGraphicNotes img {
  width: 140px;
}

.tourwayPath {
  position: absolute;
  top: 5px;
  max-height: 48px;
  background-size: cover;
  z-index: -1;
  width: 100%;
}

.tourwayPath img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.altLoginMethods,
.altSignUpMethods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.altLoginMethods p,
.altSignUpMethods p {
  font-size: 1rem;
  color: $medium-text;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.socialMediaButton {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $tourway-teal-light;
  color: white;
}

.socialMediaLink {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  line-height: 0;
}

.loginActions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.loginActions p {
  font-weight: 500;
}

.signUpActions {
  margin: 1rem 1rem;
}

.signUpActions p {
  font-weight: 500;
}

.rememberMe {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.rememberMe label {
  color: $medium-text;
  font-weight: 500;
}

.Login h1,
.SignUp h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
}

.tourwayPathSmall {
  position: absolute;
  z-index: -1;
  right: -24px;
}

.tourwayPathLogin {
  position: absolute;
  top: 26rem;
  z-index: -2;
}

.tourwayPathSignUp {
  position: absolute;
  top: 35.5rem;
  z-index: -2;
}

.loginCTA,
.signUpCTA {
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loginSecondaryCTA,
.signUpSecondaryCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #757575;
}

.loginSecondaryCTA button p {
  color: #757575;
}

// .universityBioContent {
//   color: $dark;
//   padding: 0 1rem 6rem;
// }

.loginSecondaryCTA a,
.signUpSecondaryCTA a {
  color: $tourway-teal;
}

.universityBioContent {
  color: $dark;
  padding: 0 1rem 5rem;
}

.universityBioContent h4 {
  font-size: 1.5rem;
}

.backButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.favButton {
  position: absolute;
  top: 8rem;
  right: 1rem;
  z-index: 10;
}

.overviewIMGs {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.overviewIMGs img {
  width: calc(50% - 0.5rem);
  border-radius: 13px;
  object-fit: cover;
}
.overviewIMG img {
  width: 100%;
  border-radius: 13px;
  object-fit: cover;
  margin: 1rem 0;
}

.universityBioContent li {
  margin: 1rem;
}

// .universityBio {
//   position: relative;
//   height: 100%;
// }

.CTAsingle {
  position: fixed;
  bottom: 1rem;
  z-index: 10;
  width: 100%;
}
.CTAdouble {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  z-index: 10;
  bottom: 1rem;
}

.CTA {
  position: fixed;
  bottom: 6rem;
  z-index: 10;
  width: 100%;
}

.mainContentLogin,
.mainContentSignUp {
  padding-bottom: 1rem;
}

// Choose custom or general tour
.universityInfo,
.universityTourOv {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 1.5rem 1rem;
  gap: 1rem;
  color: $dark;
  flex-direction: row;
}

// Choose custom or general tour
.universityInfo {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 1.5rem 1rem;
  gap: 1rem;
  color: $dark;
}

.universityInfo img {
  max-width: 4rem;
}

.universityInfo h3 {
  font-size: 1.5rem;
}

// College name top On tour overview
.universityTourOv {
  height: 3.25rem;
  margin: 0.5rem 1rem 1rem 1rem;
  justify-content: space-between;
}
.universityTourOv > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
}

.universityTourOv > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.universityTourOv > div > div p {
  font-weight: 600;
  line-height: 1;
  color: $drexelBlue;
}

.universityTourOv div > img {
  max-width: 3.5rem;
  height: 100%;
}

.universityTourOv h4 {
  font-size: 20px;
  line-height: 1;
  color: $drexelBlue;
}

// Custom teal checkbox for login / signup
#rememberMeCheckbox,
.rememberMecheckbox {
  display: none;
}

.rememberMe label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.TourOverview h3,
.TourOverview p {
  color: #000;
  font-size: 16px;
  font-family: "Hind", Verdana, sans-serif;
}

// TOUR SUMMARY
.mainContentSummary {
  top: 164px;
  padding: 1rem 1rem 4.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainContentSummary h1 {
  color: $dark;
  font-size: 1.5rem;
}

.tourSummary p {
  color: $dark;
  font-size: 1rem;
  font-weight: 500;
}

.tourSummary > p { 
  margin-bottom: 1rem
}



.headerGraphicSummary img {
  min-width: 110px;
  width: 20%;
  max-width: 140px;
}

.headerGraphicSummary {
  right: 0;
  top: 60px;
}

.headerTextSummary {
  position: absolute;
  z-index: 5;
  color: white;
  width: 200px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 2rem;
}

.headerTextSummary h4 {
  font-size: 1.25rem;
  background-color: #07294dc0;
  width: fit-content;
}

.headerTextSummary p {
  font-size: 1rem;
  line-height: 140%;
  background-color: #07294dc0;
}

// NEXT STEPS AND RESOURCES
.mainContentResources {
  top: 85px;
  padding: 1rem;
}

.mainContentResources h1 {
  color: $dark;
  font-size: 1.5rem;
}

.resourcesContainer {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr); // 2 columns
  // grid-template-rows: repeat(2, auto); // 2 rows (auto height based on content)
  // gap: 1rem; // Adjust spacing as needed
  // width: calc(100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

}

.CTA-1 {
  position: absolute;
  z-index: 5;
  bottom: 1rem;
}

.exitButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.voiceoverButton {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
  z-index: 10;
}

// ACTIVE SCROLL

.styles_scrollButtonsHolder__AmSn6 button.active {
  background-color: $drexelBlue;
  color: white;
  outline-color: $drexelBlue;
  border-style: solid;
}

.uniBioScrollCon {
  position: sticky;
  top: 0;
}

// TOUR VIEW
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

// Tour Content view

.tourView {
  position: relative;
  min-height: 100vh;
}

.tourCardContent {
  padding-top: 0;
  top: 0;
}

.tourCardContent .CTAsingle {
  height: 5.75rem;
  background-color: white;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  // border-radius: 40px 40px 0 0;
}

// Map view
.mapview {
  height: 70vh;
  // margin-top: -20px;
  width: 100%;
  position: absolute;
  top: 17vh;
  // top: 10px;
}

.mapMainContent {
  // padding-top: 12px;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: unset;
  top: 110px;
}
.mapMainContent > * {
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.mapMainContent .directions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0 40px 40px 40px;
  background-color: $lightBlue;
  color: black;
  filter: drop-shadow(#00000090 0 8px 4px);
}
.mapMainContent .directions > div > p {
  font-size: 14px;
  max-height: fit-content;
  line-height: 1.4;
}

.mapMainContent .directions .compass {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  // justify-content: center;
  align-items: center;
}

.mapMainContent .stopTitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: -2.75rem;
  left: 1.5rem;
  filter: unset;
}

.mapMainContent .stopTitle h1 {
  font-family: "Hind", Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
  height: min-content;
  color: white;
}

.mapMainContent .stopTitle p {
  background-color: $drexelYellow;
  color: black;
  height: 26px;
  width: 26px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  font-weight: 100;
}

.mapMainContent .stopTitle + p {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0 40px 40px 0;
  background-color: $lightBlue;
  color: black;
  filter: drop-shadow(#00000090 0 8px 4px);
}

.onmap > span > img {
  margin: 0 auto;
  display: block;
}

.onmap .NameShare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.onmap .NameShare h3 {
  color: white;
  font-size: 24px;
}

.onScroll {
  position: absolute;
  // bottom: -50%;
  top: calc(100% - 23vh);
}

.onmap {
  // position: sticky;

  // top: 500px;
  
  z-index: 2;
  height: fit-content;
}

.onScroll .CTA {
  position: relative;
  bottom: 1rem;
//   // top: calc(100% - 15vh);
//   // margin-bottom: 3.75rem;
}

.testingBtns {
  z-index: 10;
  position: absolute;
  top: 25%;
}
.testingBtns:first-of-type {
  left: 10px;
}

.testingBtns:nth-of-type(2) {
  left: 70px;
}

.testingBtns:nth-of-type(3) {
  left: 150px;
}
