$tourway-teal: #0BA3A8;
$tourway-text: #034648;
$tourway-teal-dark: #0B7073;
$tourway-teal-light: #DFF3F4;
$medium-text: #5A5A5A;

.header {
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
    position: relative;
    overflow: hidden;
    color: white; 
    font-size: 24px;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: bottom;

    margin: 112px 0 0 32px;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
}

.header p {
    font-size: 1rem;
}

.swoop {
    z-index: 4;
    left: 0;
    position: absolute;
    top: 143px;
}

.swoop img {
    width: 48px;
}

.tourwaySwoop {
    z-index: 4;
    left: -5px;
    position: absolute;
    top: 56px;
}

.tourwaySwoop img {
    width: 300px;
}

.heartButtonContainer, .backButtonContainer {
    margin: 0.5rem;
    z-index: 10;
}

  