@import "../../../styles/custom-mixins.scss";

.summaryTourCard {
  display: flex;
  background-color: $lightBlue;
  border-radius: 0.5rem;
  height: 136.5px;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 16px;
}

.summaryTourCardIMG {
  width: 40%;
  background-size: cover;
  background-position: "center";
  background-repeat: "no-repeat";
  border-radius: 0 0.5rem 0.5rem 0;
}

.summaryTourCardInfo {
  width: 60%;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.summaryTourCardInfo p {
  font-size: 1rem;
}

.summaryTourCardInfo {
  > p:nth-of-type(2) {
    font-size: 14px;
  }
}

.CatWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.CatWrapper p {
  background-color: $drexelBlue;
  color: white;
  border-radius: 30px;
  font-size: 10px;
  padding: 4px 12px;
  display: inline;
}
