@import "../../../styles/custom-mixins.scss";

.counselorCard {
    background-color: $drexelBlue;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.counselorCard h5 {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.counselorContent {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.counselorContent img {
    border-radius: 64px;
    width: 5rem;
    height: 5rem;
}

.counselorContent h6 {
    font-size: 1rem;
}