@import "../../../styles/custom-mixins.scss";

.questionLabel {
  // padding-left: 20px;
  margin-bottom: 1rem;
  color: #000 ;
  font-weight: bold;
}

.questionCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $lightBlue;
  height: fit-content;
  overflow-y: scroll;
  margin: auto 1rem;
  border-radius: .5rem;
  padding: 1rem;
}

.navigationButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nextButton, button[type="submit"] {
  display: flex; /* Flexbox for text + icon layout */
  align-items: center; /* Vertically align text and icon */
  justify-content: center; /* Center both horizontally */
  font-family: 'Montserrat', Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  width: calc(100% - 2rem); /* Stretch to full width */
  padding: 1rem;
  background-color: $drexelBlue;
  color: white;
  gap: 1rem;
  font-weight: 600;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  height: 3.75rem;
  z-index: 2;
}

.nextButton:active, button[type="submit"]:active {
  animation: buttonPress .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes buttonPress {
  0%   {transform: scale(100%)}
  50%  {transform: scale(90%)}
  100% {transform: scale(100%)}
}

.nextButton span, button[type="submit"] span { 
  font-size: 1.5rem; /* Ensure the icon has a visible size */

}

.btnsWhiteBg {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5.75rem;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  // border-radius: 40px 40px 0 0;
}

.btnsWhiteBg:has(+ p.questNum ) {
  justify-content: space-between;
}

.btnsWhiteBg > p.questNum + .nextButton, .btnsWhiteBg > p.questNum + button[type="submit"]{ 
  width: calc(80% - 3rem);
  left: unset;
  right: 1rem;
}

p.questNum {
  display: flex;
  background-color: $drexelYellow;
  color: $drexelBlue;
  width: 20%;
  flex-direction: column;
  gap: none;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 8px;
  line-height: 120%;
  font-size: 14px;
}

p.questNum b {
  font-size: 16px;
}