@import "../../../styles/custom-mixins.scss";

.stopsProgress {
    background-color: $drexelYellow;
    width: 46px;
    height: 46px;
    color: $drexelBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
    border-radius: 0.5rem;
}

.stopsProgress span {
    font-size: 1rem;
    font-weight: 700;
    color: $drexelBlue
}

.stopsProgress p {
    font-weight: 500;
}