$tourway-teal: #0BA3A8;
$tourway-text: #034648;
$medium-text: #5A5A5A;

a {
    text-decoration: none;
}
.universityCard {
    max-width: 124px;
    border-radius: 8px;
    background-color: white;
    margin: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.universityCard img {
    max-width: 124px;
    border-radius: 8px 8px 0 0;
}

.universityInfo {
    padding: 4px 8px;
}

.universityCard h5 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin: 0;
    text-align: center;
    line-height: 18px;
}

.milesAway {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.universityCard p {
    font-size: 14px;
    color: $medium-text;
}

svg {
    fill: $tourway-teal;
    width: 20px;
}

.universityCard:active {
    animation: buttonScale 0.2s ease-out;
}


@keyframes buttonScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}