@import "../../../styles/custom-mixins.scss";

.StopsHolder {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  position: relative;
}

.CatWraper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.CatWraper p {
  background-color: $drexelBlue;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  padding: 4px 12px;
  display: inline;
}
.StopsHolder h3 {
  font-weight: 500;
  color: black;
  font-family: "Hind", Verdana, sans-serif;
  font-size: 16px;
}

.StopsHolder > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
}

.circle {
  background-color: #ffde6b;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1;
}

.blueCircle {
  background-color: $drexelBlue;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.numNamCat {
  display: flex;
    flex-direction: row;
    gap: 1em;
 
}

.StopsHolder > div > div {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap:1em;
 }

 .deleteButton {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCCC5;
  border: none;
 }

.verticalLine {
  border-left: 2.5px dashed $drexelBlue;
  // border-style: dashed;
  position: absolute;
  left: 14.5px;
  height: calc(100% - 3rem);
  top: 0;
  z-index: -1;
}
.duration {
  min-width: 50px;
  color: black;
}


// ON MAP 
:global(.onmap) {
  width: 100%;
  background-color: $drexelBlue;
  padding: 1rem 0;
  border-radius: 20px 20px 0 0;
}

:global(.onmap) .StopsHolder h3, :global(.onmap) .StopsHolder .duration  { 
  color: white;
  // background-color: blue;

}

:global(.onmap) .verticalLine { 
  border-left: 2.5px dashed white;
  z-index: 0;
}

:global(.onmap) .CatWraper p { 
  color: black;
  background-color: $lightBlue;
}