@import "../../../styles/custom-mixins.scss";


.scrollButtonsHolder {
    z-index: 5;
    color: #000000;
    position: sticky ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: calc(54.5px + 1rem);
    padding: .5rem 1rem 1rem ;
    background-color: white;
    // width: calc(100vw - 2rem);
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    border-radius: 0 0 0 0;
}

.scrollButtonsHolder button {
    border-radius: 30px;
    color: $drexelBlue;
    font-size: 14px;
    padding: 4px 12px;
    background-color: white;
    border-style: solid;
    border-color: $drexelBlue;
    white-space: nowrap;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.scrollButtonsHolder button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;

}
.scrollButtonsHolder button:active {
    animation: buttonScale 0.3s ease-out;
}

.scrollButtonsHolder button.active::after {
    animation: ripple 0.4s ease-out;
}

.scrollButtonsHolder button:not(.active):focus::after {
    background: rgba(0, 36, 95, 0.3); /* Using Drexel Blue with transparency */
    animation: ripple 0.4s ease-out;
}

@keyframes buttonScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    20% {
        transform: scale(8, 8);
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        transform: scale(15, 15);
    }
}

:global(.universityBio) .scrollButtonsHolder  {
    width: calc(100% - 1rem);
    // width: 100%;
}
:global(.universityBio) .scrollButtonsHolder button  {
    z-index: 4;
}


.scrollButtonsHolder button.active {
    background-color: $drexelBlue;
    color: white;
}