@import "../../../styles/custom-mixins.scss";


.scrollButtonsHolder {
    z-index: 5;
    color: #000000;
    position: sticky ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: calc(54.5px + 1rem);
    padding: .5rem 1rem 1rem ;
    background-color: white;
    // width: calc(100vw - 2rem);
    width: 100%;
    overflow-x: scroll;
    border-radius: 0 0 0 0;
}

.scrollButtonsHolder button {
    border-radius: 30px;
    color: $drexelBlue;
    font-size: 14px;
    padding: 4px 12px;
    background-color: white;
    border-style: solid;
    border-color: $drexelBlue;
    white-space: nowrap;
}

// .styles_scrollButtonsHolder__AmSn6 button.active {
//     background-color: black;
//   }

:global(.universityBio) .scrollButtonsHolder  {
    width: calc(100% - 1rem);
    // width: 100%;
}
:global(.universityBio) .scrollButtonsHolder button  {
    z-index: 4;
}


.scrollButtonsHolder button.active {
    background-color: $drexelBlue;
    color: white;
}