.dropdownContainer {
  margin-top: 10px;
}

.accordionSection {
  margin-bottom: 10px;
}

.accordionLabel {
  background-color: #ddd;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.accordionOptions {
  margin-top: 10px;
  padding-left: 20px;
}
