@import "../../../styles/custom-mixins.scss";

.resourcesCard {
    background-color: $lightBlue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 144px;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    width: calc(50% - .5rem);  // Ensures the card fills the entire grid cell
}

.resourcesCard p {
    text-align: center;
    font-size: 1rem;
    color: $dark;
    font-weight: bold;
    width: 111px;
}
